<div class="bg-primary-200 text-primary-900 dark:bg-primary-900 dark:text-primary-400 h-full ">
  <div class="h-full overflow-y-auto overflow-x-hidden max-w-b2xl w-full mx-auto relative">
    <main class="h-full z-10 mx-auto max-w-5xl flex flex-col justify-between">
      <div class="flex-1 pb-8">
        <router-outlet></router-outlet>
      </div>
      <div
        class="sticky bottom-0 bg-gradient-to-t from-primary-900 from-50% via-primary-900 via-80%  to-primary-900/0 mask-bottom">
        <app-profile-picture class="relative left-14"></app-profile-picture>
      </div>
    </main>
    <aside class="absolute right-24 top-14 translate-x-52 lg:translate-x-0 transition-transform duration-150">
      <app-nav-menu></app-nav-menu>
    </aside>
  </div>
</div>