<a
  class="flex flex-col gap-1 items-center animate-fade-up group w-20 h-16"
  [href]="skillLink"
  rel="noopener noreferrer"
  target="_blank"
>
  @defer {
  <figure
    class="grid place-items-center overflow-hidden rounded-full w-10 h-10 bg-white animate-jump relative group-hover:animate-rotate-y transition-transform border"
    [class]="skillClass"
  >
    <img
      width="40"
      height="40"
      class="w-full h-full object-contain"
      [src]="skillImage"
      alt="logo-{{ skillName }}"
    />
  </figure>
  } @placeholder {
  <div
    class="rounded-full bg-white w-10 h-10 animate-pulse animate-infinite animate-duration-1000"
  ></div>
  } @loading {
  <div
    class="rounded-full bg-white w-10 h-10 animate-pulse animate-infinite animate-duration-1000"
  ></div>
  }
  <blockquote
    class="text-sm text-center group-hover:font-bold  dark:group-hover:text-white transition-colors max-w-full text-ellipsis whitespace-nowrap overflow-hidden"
  >
    {{ skillName }}
  </blockquote>
</a>
