
@keyframes reveal {
  from {
    opacity: 0;
    translate: 0 100px;
  }
  50% {
    opacity: 0.1;
  }
  to {

    opacity: 1;
    translate: 0 0;
  }
}; 


@keyframes hide-spoken-message {
  from {
    opacity: 1;
    translate: 0 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    translate: -2rem 0;
    visibility: hidden;
  }
}; 

@keyframes show-spoken-message {
  from {
    opacity: 0;
    translate: -2rem 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    translate: 0 0;
    visibility: visible;
  }
}

@keyframes replace-text-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0; opacity: 0; }
  to { width: 100%; opacity: 1; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}