<figure class="relative overflow-hidden">
  <div
    class="absolute inset-0 bg-primary-200 dark:bg-primary-900 --mask-top -z-10"
  ></div>
  <img
    class="dark:--mask-bottom relative left-14 animate-fade-right  animate-delay-1000"
    src="assets/images/profile-site.png"
    width="198"
    height="258"
    alt="profile"
  />
  <app-spoken-message class="absolute bottom-48 sm:bottom-32 left-52 z-10 animate-fade-right  animate-delay-1000" />
  <app-nav-menu-mobile class="z-10 overflow-hidden relative sm:fixed sm:right-4 sm:top-24 lg:right-auto lg:top-auto lg:absolute lg:-bottom-full" />
</figure>
