<h1 class="text-2xl text-primary-500 font-bold dark:font-normal dark:text-primary-200 text-center sm:text-4xl animate-fade-down">Julian Andres <br class="block lg:hidden"> Gomez Gomez
</h1>
<article class="text-center mx-auto max-w-lg mt-3 px-6 lg:px-0 animate-fade [&_p+p]:mt-4">
  <p class="animate-fade-up animate-delay-50">
    I'm a <span class="--text-highlight">Mechatronics Engineer</span> with a passion for integrating technology and user
    experience. 
  </p>
  
  <p class="animate-fade-up animate-delay-100">
    My journey began with
    honing solid programming skills using <span  class="--text-highlight">embedded systems</span> and implementing <span  class="--text-highlight">Control & AI algorithms</span>. Due to the importance
    of UI in the projects I undertook, I specialized in different <span class="--text-highlight"> programming languages </span> and <span class="--text-highlight">frameworks</span>  for UI
    development.
  </p>
  
  <p class="animate-fade-up animate-delay-200">
    Nowadays, I have participated in various projects, primarily focusing on <span class="--text-highlight">Full Stack Web</span> applications where I have
    taken a <span  class="--text-highlight">leadership role</span> in <span class="--text-highlight">Frontend development</span>.
  </p>
  
  <p class="animate-fade-up animate-delay-300">
    Currently, I am enthusiastic about merging <span class="--text-highlight">AI</span> and <span class="--text-highlight">WEB</span> development, taking into account performance and best practices,
    with the ultimate goal of revolutionizing and enhancing the way
    <span class="--text-highlight">users interact</span> with <span class="--text-highlight">technology</span>. 
  </p>
</article>