<h1 class="text-2xl text-primary-200 text-center sm:text-3xl">Julian Andres <br class="block lg:hidden"> Gomez Gomez
</h1>
<p class="text-center max-w-lg mt-3 px-6 lg:px-0">
  I'm a <span class="text-accent-500">Mechatronics Engineer</span> with a passion for integrating technology and user
  experience. 🚀
  <br> 
  <br> 
  My journey began with
  honing solid programming skills using <span  class="text-accent-500">embedded systems</span> and implementing <span  class="text-accent-500">Control & AI algorithms</span>. Due to the importance
  of UI in the projects I undertook, I specialized in different <span class="text-accent-500"> programming languages </span> and <span class="text-accent-500">frameworks</span>  for UI
  development.
  <br><br>
  Nowadays, I have participated in various projects, primarily focusing on <span class="text-accent-500">Full Stack WEB</span> applications where I have
  taken a <span  class="text-accent-500">leadership role</span> in <span class="text-accent-500">Frontend development</span>.
  <br><br>
  Currently, I am enthusiastic about merging <span class="text-accent-500">AI</span> and <span class="text-accent-500">WEB</span> development, taking into account performance and best practices,
  with the ultimate goal of revolutionizing and enhancing the way
  <span class="text-accent-500">users interact</span> with <span class="text-accent-500">technology</span>. 🩷
</p>